extends layout

block content
	.container
		h1 About Us
		p Lorem ipsum dolor sit amet, consectetur adipisicing klfldskfl ldkfl elit, sed do eiusmod
		ul
			li lorem One
			li lorem Two
			li lorem Three
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,